name: Release
on:
    push:
        tags:
            - 'v*'
jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        permissions:
            contents: write # GitHub Release
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  node-version: "24"
                  registry-url: "https://registry.npmjs.org"
            - run: corepack enable
            - run: pnpm install --frozen-lockfile

            - name: Build for Chrome
              run: pnpm run build
            - name: Zip Chrome Extension
              run: |
                cd dist
                zip -r ../MissClipper_Chrome.zip .
                cd ..

            - name: Build for Firefox
              run: pnpm run build firefox
            - name: Zip Firefox Extension
              run: |
                cd dist
                zip -r ../MissClipper_Firefox.zip .
                cd ..

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  generate_release_notes: true
                  draft: false
                  prerelease: true
                  files: |
                      MissClipper_Chrome.zip
                      MissClipper_Firefox.zip
